<!--Don"t Have Using extension here so have to list Model = List<Model.object>  -->
<!--//Model was Declared-->

@model List<CheeseMVC3.Models.Cheese>;

<h1>@ViewBag.title</h1>

<!--if (ViewBag.Cheeses.Count <= 0)  //If use ViewBag.Cheese in controller use ViewBag.Cheese to get count-->

@if (Model.Count == 0) //Use theModel to get Count of Cheeses
{
    <p>No Cheeses Yet.</p>
}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Taste</th>
        <th>Type</th>
    </tr>

    <!--foreach (Cheese cheese in ViewBag.cheeses)  //Pull Cheese object (ViewBad.List<>)-->
    @foreach (Cheese cheese in Model) //work like above but get data From Model not ViewBag
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td>@cheese.Taste</td>
            <td>@cheese.Type</td>
        </tr>
    }
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>