<h1>@ViewBag.title</h1>


@if (ViewBag.contacts.Count <= 0)
{
    <p>No Contacts Yet.</p>
}


<table class=" table">
    <tr>
        <th>Contact Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>Email:Address</th>
    </tr>

    @foreach (Contact contact in ViewBag.contacts)
    {
        <tr>
            <td>@contact.ContactId</td>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.Address</td>
            <td>@contact.Email</td>

        </tr>
    }

</table>

<p><a asp-controller="Contact" asp-action="AddContact">Add Contact</a></p>
<p><a asp-controller="Contact" asp-action="RemoveContact">Remove Contact</a></p>